{% extends 'base.html' %}
{% block title %}<title>Confirmação de exclusão</title>{% endblock %}

{% block center %}

<style>
    .center {
        display: grid;
        place-items: center;
        padding: 5px;
    }
</style>

<div class="center">
    <form method="post">
        <section>
            {% csrf_token %}
            <p>Quer realmente excluir a reserva?</p>
            {{ form }}
        </section>

        <button type="submit">
            Confirmar
        </button>
    </form>
</div>

{% endblock %}

