{% extends 'base.html' %}
{% block title %}<title>Listagem de Stands</title>{% endblock %}

{% block center %}

<style>
    .center {
        display: grid;
        place-items: center;
        padding: 5px;
    }

    th, td {
        border: 1px solid;
    }
</style>

    <a href="{% url 'reserva_criar' %}" class="center">Nova reserva</a>

    <table class="center">
        <thead>
            <tr>
                <th>CNPJ</th>
                <th>Nome empresa</th>
                <th>Categoria empresa</th>
                <th>Quitado?</th>
            </tr>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.cnpj }}</td>
                    <td>{{ reserva.nome_empresa }}</td>
                    <td>{{ reserva.categoria_empresa }}</td>
                    <td>{{ reserva.quitado }}</td>
                    <td>
                        <a href="{% url 'reserva_detalhe' reserva.id %}">Detalhe</a>
                        <a href="{% url 'reserva_editar' reserva.id %}">Editar</a>
                        <a href="{% url 'reserva_remover' reserva.id %}">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>

    <div>
       Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </div>

    <ul style="margin-left: 50px">
        {% if page_obj.has_previous %}
        <li><a href="?page=1">&laquo; Primeira página</a></li>
        <li><a href="?page={{ page_obj.previous_page_number }}">Prévia</a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
        <li><a href="?page={{ page_obj.paginator.next.num_pages }}">Anterior</a></li>
        {% endif %}
    </ul>

{% endblock %}