{% extends 'base.html' %}
{% block title %}<title>Listagem de Stands</title>{% endblock %}

{% block center %}

<style>
    .center {
        display: grid;
        place-items: center;
        padding: 5px;
    }

    th, td {
        border: 1px solid;
    }
</style>

<a href="{% url 'stand_criar' %}" class="center">Novo stand</a>

<table class="center">
    <thead>
        <tr>
            <th>Localização</th>
            <th>Valor</th>
            <th>Reserva</th>
        </tr>
        <tbody>
            {% for stand in stands %}
            <tr>
                <td>{{ stand.localizacao }}</td>
                <td>{{ stand.valor }}</td>
                <td>{{ stand.reserva }}</td>
                <td>
                    <a href="{% url 'stand_detalhe' stand.id %}">Detalhe</a>
                    <a href="{% url 'stand_editar' stand.id %}">Editar</a>
                    <a href="{% url 'stand_remover' stand.id %}">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>

<div>
    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
 </div>

 <ul style="margin-left: 50px">
     {% if page_obj.has_previous %}
     <li><a href="?page=1">&laquo; Primeira página</a></li>
     <li><a href="?page={{ page_obj.previous_page_number }}">Prévia</a></li>
     {% endif %}

     {% if page_obj.has_next %}
     <li><a href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
     <li><a href="?page={{ page_obj.paginator.next.num_pages }}">Anterior</a></li>
     {% endif %}
 </ul>

{% endblock %}