{% extends 'base.html' %}
{% block title %}<title>Listagem de Stands</title>{% endblock %}

{% block center %}

<style>
    .center {
        display: grid;
        place-items: center;
        padding: 5px;
    }

    th, td {
        border: 1px solid;
    }
</style>

    <a href="{% url 'reserva_criar' %}" class="center">Nova reserva</a>

    <table class="center">
        <thead>
            <tr>
                <th>CNPJ</th>
                <th>Nome empresa</th>
                <th>Categoria empresa</th>
                <th>Quitado?</th>
            </tr>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.cnpj }}</td>
                    <td>{{ reserva.nome_empresa }}</td>
                    <td>{{ reserva.categoria_empresa }}</td>
                    <td>{{ reserva.quitado }}</td>
                    <td>
                        <a href="{% url 'reserva_detalhe' reserva.id %}">Detalhe</a>
                        <a href="{% url 'reserva_editar' reserva.id %}">Editar</a>
                        <a href="{% url 'reserva_remover' reserva.id %}">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>

{% endblock %}