{% extends 'base.html' %}
{% block title %}<title>Cadastro de Reservas</title>{% endblock %}

{% block center %}

<style>
    .center {
        display: grid;
        place-items: center;
        padding: 5px;
    }
</style>

<form method="post" class="center">
    {% csrf_token %}
    <div>
        <label for="cnpj" class="center">CNPJ:</label>
        {{ form.cnpj }}
    </div>

    <div>
        <label for="nome_empresa" class="center">Nome da empresa:</label>
        {{ form.nome_empresa }}
    </div>

    <div>
        <label for="categoria_empresa" class="center">Categoria da empresa:</label>
        {{ form.categoria_empresa }}
    </div>

    <div>
        <label for="quitado" class="center">Valor quitado?</label>
        {{ form.quitado }}
    </div>

    <br>
    <br>

    <button type="submit" class="center">Enviar</button>
</form>
{% endblock %}