{% extends 'base.html' %}
{% block title %}<title>Cadastro de Stands</title>{% endblock %}

{% block center %}
<form method="post">
    {% csrf_token %}
    <div>
        <label for="cnpj">CNPJ:</label>
        {{ form.cnpj }}
    </div>

    <div>
        <label for="nome_empresa">Nome da empresa:</label>
        {{ form.nome_empresa }}
    </div>

    <div>
        <label for="categoria_empresa">Categoria da empresa:</label>
        {{ form.categoria_empresa }}
    </div>

    <div>
        <label for="quitado">Valor quitado?</label>
        {{ form.quitado }}
    </div>

    <button type="submit">Enviar</button>
</form>
{% endblock %}